{{#if organizationLogo}}
<img src="{{organizationLogo}}" alt="{{organizationName}}" class="logo" />
{{else}}
<h1 style="color: #ffffff; margin: 0; font-size: 28px; font-weight: 700;">
    {{organizationName}}
</h1>
{{/if}}